.button {
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 24px;
    background-color: rgb(255, 247, 247);
    border-left-color: rgb(157, 219, 243);
    border-right-color: rgb(157, 219, 243);
    border-top-color: rgb(157, 219, 243);
    border-bottom-color: rgb(157, 219, 243);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 49.5%;
}
